body{
margin:0;
font-family:Arial;
background:url("https://images.unsplash.com/photo-1611339555312-e607c8352fd7");
background-size:cover;
}

.overlay{
background:rgba(0,0,0,0.7);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
background:#111;
padding:40px;
border-radius:10px;
width:320px;
text-align:center;
color:white;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border:none;
border-radius:6px;
}

button{
background:#1DB954;
border:none;
padding:12px 20px;
color:white;
border-radius:20px;
cursor:pointer;
}

.price{
font-size:28px;
color:#1DB954;
}
